/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

p {
  margin: 0;
}

#main-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

button{
  border: 0;
  padding: 10px;
  min-width: 200px;
  width:auto;
  margin-top:15px;
  font-size: 1.2rem;
  background-color: #5fc8ce;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border-radius:5px;
  -webkit-box-shadow: 5px 5px 0px 0px rgb(203, 231, 137);
  -moz-box-shadow: 5px 5px 0px 0px rgb(203, 231, 137);
  box-shadow: 5px 5px 0px 0px rgb(203, 231, 137);
}

.screen{
  width: 100%;
  height: 100vh;
  background-image: url('images/splash-screen-bg.png');
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.splash-screen {
  background-size: cover;
}

.restart-screen{
  background-size: auto;
  background-position-x: center;
  background-position-y: bottom;
}
@media (max-width: 500px) {
  .restart-screen {
    background-size: cover;
    background-position-y: center;
    padding:20px;
  }
}

.instructions-screen{
  background-image: url('images/instructionsBg.png');
  background-size: cover;
  padding:20px;
}

.screen h1{
  margin-top:0;
  font-size:4.4em;
  font-family: 'Cedarville Cursive', cursive;
  color: #efc413;
  display: flex;
  flex-direction: column;
}

@media (max-width: 500px) {
  .screen h1{
    font-size:2em;
  }
}

.splash-screen h1{
  align-items: flex-end;
}

.restart-screen h1{
  align-items: flex-start;
  font-size:3em;
}

.screen h1 .snow{
  font-size:2.5em;
  font-family: 'Permanent Marker', cursive;
  color: #2a7ea7;
  line-height:1em;
}
.splash-screen input{
  padding: 10px;
}
.score{
  font-weight: bold;
  font-size: 8em;
  color: #5db47f;
  font-family: 'Russo One', sans-serif;
  line-height: normal;
}

@media (max-width: 500px) {
  .score{
    font-size:5em;
  }
}



.ranking{
  max-width:400px;
  width:100%;
  background-color: #fff39f;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(255,183,0,1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(255,183,0,1);
  box-shadow: 10px 10px 0px 0px rgba(255,183,0,1);
  padding: 10px 0;
  margin-bottom: 30px;
}
.ranking th{
  font-size: 1.5em;
  color: #2a7ea7;
  text-transform: uppercase;
  padding: 10px 0;
}

.ranking-names{
  text-align: right;
  width:50%;
  text-transform: capitalize;
}

.ranking-scores{
  text-align: left;
  font-weight:bold;
  color: #20a9b1;
    padding-left: 10px;
}

#error{
  color: white;
  padding: 10px;
  margin-top: 20px;
}

.error-displayed{
  background-color: #ff7247;

}


.instructions-screen h1{
  font-size: 4em;
  font-family: 'Permanent Marker', cursive;
  color: #2a7ea7;
}

@media (max-width: 500px) {
  .instructions-screen h1{
    font-size: 2em;
  }
}

.instructions-screen article{
  padding: 20px;
  background-color: white;
  border-radius:5px;
  -webkit-box-shadow: 10px 10px 0px 0px rgb(86, 176, 122);
  -moz-box-shadow: 10px 10px 0px 0px rgb(86, 176, 122);
  box-shadow: 10px 10px 0px 0px rgb(86, 176, 122);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructions-screen article img{
  max-width: 400px;
  width: 100%;
}

#backSplash{
  width:200px;
}


.to-left{
  width: 50%;
  height: 100vh;
  position: absolute;
  left: 0;
}

.to-right{
  width: 50%;
  height: 100vh;
  position: absolute;
  right: 0;

}

@media (max-width: 500px) {
  .block-off{
    display:none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
  }

  .block-on{
    display:block;
  }

}